<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Quản lý gọi món</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Trang chủ</a>
        </li>

        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/{{ user_role.name }}">{{ user_role.name_vn }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-success">
            <img src="{{ current_user.avatar }}" class="rounded-circle" width="25" />
            Chào {{ current_user.name }}!
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="/logout">Đăng xuất</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link text-danger" href="/login">Đăng nhập</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>